* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.main {
  min-height: 85.5vh;
  padding: 5px 30px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  img {
    height: 30px;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 30px;

    a {
      color: #000000;
      text-decoration: none;
    }

    .active, a:hover {
      text-decoration: underline #000000 !important;
    }
  }
}

.about-banner {
  background-image: url("assets/bg_about.png") !important;
}

.banner, .about-banner {
  display: flex;
  width: 100%;
  height: 8rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-bottom: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/bg.png');
  background-size: cover;
  background-position: center;

  h1 {
    color: #ffffff;
    filter: brightness(100%);
  }
}

.card-container {
  background: #F6F6F6;
  border-radius: 1rem;
  padding: 20px;

  .card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
  }

  .card {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }

    p {
      padding: 15px;
      position: absolute;
      bottom: 0;
      color: #fff;
      text-shadow: 0px 0px 15px #000000;
    }
  }

}

#carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 430px;
  width: 100%;

  div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;

    img {
      width: 80%;
    }
  }

  div:first-child {
    left: 5px;

    img {
      transform: rotate(180deg);
    }
  }

  div:last-child {
    right: 5px;
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .compteur {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    color: #ffffff;
    margin-bottom: 15px;
  }
}

.detail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.location-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    color: #ff6060;
  }
}

.tags-container {
  display: flex;
  gap: 20px;
}

.tags-location {
  background: #ff6060;
  color: #ffffff;
  padding: 5px 30px;
  border-radius: 10px;
}

.host-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;

  img {
    border-radius: 50%;
    width: 80px;
  }
}

.host-name {
  color: #ff6060;
}

.about-collapse {
  flex-direction: column !important;
  margin: 20px 60px;
}

.more, .about-collapse {
  display: flex;
  flex-direction: row;
  gap: 30px;

  .collapse {
    flex: 1;

    button {
      width: 100%;
    }
  }

  .collapse-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff6060;
    color: #ffffff;
    padding: 5px 30px;
    border-radius: 6px;

    img {
      width: 10px;
      transform: rotate(-90deg);
    }

    .fleche-rotate {
      transform: rotate(90deg);
    }
  }

  .collapse-element {
    display: flex;
    gap: 5px;
    flex-direction: column;
    background: #fbfbfb;
    border-radius: 0 0 5px 5px;
    padding: 10px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #000;
  color: #fff;
  height: 8rem;

  img {
    height: 30px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  min-height: 78vh;
}

.error-code {
  color: #ff6060;
  font-size: 12rem;
}

.error-text {
  color: #ff6060;
  font-size: 1.5rem;
}

.error-link {
  color: #000000;
}


@media only screen and (max-width: 600px) {
  .main {
    min-height: 85vh;
  }

  .banner h1 {
    padding: 0 10px
  }

  .about-collapse {
    margin: 20px 0;
  }

  .error {
    min-height: 77.3vh;
  }

  .error-text {
    font-size: 1rem;
  }

  .detail-container {
    flex-direction: column;
  }

  .host {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 30px 0;
  }

  .more {
    flex-direction: column;
  }

  .star-group {
    display: flex;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    img {
      height: 22px;
    }
  }
}
