* {
  margin: 0;
  padding: 0;
}

.main {
  padding: 5px 30px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  img {
    height: 30px;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 30px;

    a {
      color: #000000;
      text-decoration: none;
    }
  }
}

.banner {
  display: flex;
  width: 100%;
  height: 8rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-bottom: 2rem;
  background-image: url("assets/bg.png");
  background-size: cover;
  background-position: center;

  h2 {
    color: #ffffff;
  }
}

.card-container {
  background: #F6F6F6;
  border-radius: 1rem;
  padding: 20px;

  .card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
  }

  .card {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }

    h2 {
      padding: 15px;
      position: absolute;
      bottom: 0;
      color: #fff;
      font-size: 1.2rem;
    }
  }

}

#carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 430px;
  width: 100%;

  div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;

    img {
      width: 80%;
    }
  }

  div:first-child {
    left: 5px;

    img {
      transform: rotate(180deg);
    }
  }

  div:last-child {
    right: 5px;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .compteur {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    color: #ffffff;
    margin-bottom: 15px;
  }
}

.detail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.location-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    color: #ff6060;
  }
}

.tags-container {
  display: flex;
  gap: 20px;
}

.tags-location {
  background: #ff6060;
  color: #ffffff;
  padding: 5px 30px;
  border-radius: 10px;
}

.host-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;

  img {
    border-radius: 50%;
    width: 80px;
  }
}

.host-name {
  color: #ff6060;
}

.more {
  display: flex;
  flex-direction: row;
  gap: 30px;

  .collapse {
    flex: 1;

    button {
      width: 100%;
    }
  }

  .collapse-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff6060;
    color: #ffffff;
    padding: 5px 30px;
    border-radius: 6px;

    img {
      width: 10px;
      transform: rotate(-90deg);
    }

    .fleche-rotate {
      transform: rotate(90deg);
    }
  }

  .collapse-element {
    display: flex;
    gap: 5px;
    flex-direction: column;
    background: #fbfbfb;
    border-radius: 0 0 5px 5px;
    padding: 10px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #000;
  color: #fff;
  height: 8rem;

  img {
    height: 30px;
  }
}
